.Playlist {
    margin: 0 1em;
    padding-left: 1em;
    width: 90%;
}

.Playlist-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #925c5c3d;
    margin-bottom: 0.5em;
}

.Remove-button {
    height: 30px;
    width: 30px;
    margin-right: 1em;
    background-color: #925c5c59;
}