.Playlist {
    margin: 0 1em;
    padding-left: 0;
    width: 90%;
}

.Playlist-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 231 203 / 55%);
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.Playlist-track:hover {
    background-color: rgb(255 231 203 / 65%);;
}

.Remove-button {
    height: 30px;
    width: 30px;
    margin-right: 1em;
    background-color: #925c5c59;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5px;
}

.Remove-button:hover {
    cursor: pointer;
    background-color: #925c5cb8;
}